body{
    margin: 0 auto;
    color: #5a5a5a;
    font-family: Helvetica, "Deja Vu Sans", Arial, sans-serif;
    font-weight: normal;
}
html, body{
    height: 100%;
}
header{
    position :absolute;
    top: 0px;
    width: 100%;
    color: #fff;
    background: #1a1a1a;
    text-align: right;
    background: #fafafa;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}
header a{
    color: #5a5a5a;
    text-decoration: none;
}
header #logo{
    float: left;
    height: 62px;
    line-height: 55px;
    margin-left: 2%;
}
header #logo h1{
    margin: 3px 0px;
    font-size: 2em;
    font-weight: lighter;
    text-transform: uppercase;
}
header nav{
    float: right;
    margin-right: 2%;
}
header nav ul{
    margin: 0px;
    padding: 0px;
}
header nav li{
    display: inline;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 0.9em;
}
header nav a{
    display: inline-block;
    padding: 8px 15px;
    margin: 0 -2px;
    opacity: 0.7;
}
header nav a:hover, header nav a.current{
    background: #eee;
    opacity: 1;
}
header nav a.navlogout{
    border-left: 1px solid #ccc;
    opacity: 1;
}
header nav a.navlogout:hover{

}
header nav img{
    height: 30px;
    width: 30px;
}
header nav a.navlogout img{
    height: 35px;
    width: 35px;
    margin: 0.32em 0;
}
.wrap{
    display: table;
    height: 100%;
    width: 100%;
}
.wrap > * {
    padding-top:58px;
}  
/* MENU */

aside{
    display: table-cell;
    height: 100% !important;
    width: 20%;
    color: #929292;
    font-size: 0.9em;
    text-align: left;
    background: #232323;
}
aside a{
    display: inline-block;
    padding: 3%;
    color: #929292;
    text-decoration: none;
    border-radius: 3px;
    -webkit-transition: all 0.2s ;
    -moz-transition: all 0.2s ;
    -ms-transition: all 0.2s ;
     -o-transition: all 0.2s ;
    transition: all 0.2s ;
}
aside a:hover{
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.2s ;
    -moz-transition: all 0.2s ;
    -ms-transition: all 0.2s ;
     -o-transition: all 0.2s ;
    transition: all 0.2s ;
}
aside h2{
    line-height: 49px;
    margin: 5px 10px;
    font-size: 1.5em;
    color: #f2f2f2;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
}
aside ul{
    margin: 0px;
    padding: 0px;
}
aside li{
    width: 95%;
    list-style: none;
    padding: 2% 0;
    padding-left: 2%;
    margin-left: 5%;
    margin-bottom: 1px;
    font-size: 1.1em;
}
aside li.current{
    background: #e64243;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
aside li.current:hover{
    background: #d83e3f;
}
aside li.current a{
    color: #fff;
}
aside li a:hover{
    background: #d83e3f;
}

section{
    display: table-cell;
    width: 80%;
    font-size: 1em;
    line-height: 1.1em;
    background: #fff;
}

 /* CONTENT */

.content {
    margin-top: 5px;
}
.content h2{
    font-size: 2.2em;
    padding: 1em 0;
    padding-left: 0.5em;
    background: #f2f2f2;
}
.right50, .left50, .right50 + .left50{
    width: 45.5%;
    margin: 0px;
}
.left50{
    float: left;
    padding: 1% 1% 1% 2%;
}
.right50{
    float: right;
    padding: 1% 2% 1% 1%;
}
.left50 table, .right50 table{
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.width100{
    padding: 2%;
    margin: 9px 0;
}
.content caption{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1.1em;
    background-color: rgb(229, 229, 229);
    background-image: -moz-linear-gradient(center top , rgb(235, 235, 235), rgb(229, 229, 229));
    border-top: 1px solid rgb(250, 250, 250);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.content table{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.content table tbody{
    width: 100%;
    font-size: 0.9em;
}
.content table tr{
    width: 100%;
    background: none repeat scroll 0% 0% rgb(253, 253, 253);

    border-bottom: 1px solid rgb(235, 235, 235);
    border-top: 1px solid rgb(255, 255, 255);
}
.content table tr:nth-child(even){
    background: #fafafa;
}
.content table td{
    text-align: center;
    padding: 12px 14px;
    position: relative;
    text-align: left;
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(244, 244, 244);
}
.content table tr.tfooter{
    background-color: rgb(229, 229, 229);
    background-image: -moz-linear-gradient(center top , rgb(235, 235, 235), rgb(229, 229, 229));
    border-top: 1px solid rgb(250, 250, 250);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.content table tr.tfooter td{
    border: 1px solid rgb(229, 229, 229);
}
.content table tr.tfooter a{
    display: block;
    max-width: 150px;
    color: #5a5a5a;
    font-size: 0.8em;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #ebebeb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ebebeb));
    background: -webkit-linear-gradient(top, #f5f5f5 0%,#ebebeb 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%,#ebebeb 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%,#ebebeb 100%);
    background: linear-gradient(to bottom, #f5f5f5 0%,#ebebeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ebebeb',GradientType=0 );
    box-shadow: 0px 1px 3px rgb(221, 221, 221);
    border-radius: 3px; 
}
.content table tr.tfooter a:hover{
    background: #f5f5f5;
}
.content table th{
    padding: 7px 0;
    background: #f5f5f5;
    background-image: -moz-linear-gradient(center top , rgb(255, 255, 255) 0px, rgb(244, 244, 244) 100%);
}
/* Table Stats */
.content table.stats td{
    width: 50%;
}
.content table.stats td:nth-child(odd){
    font-weight: bold;
}
/* Table Support home */
.content table.tickets-home th{
    vertical-align: middle;
}
.content table.tickets-home td:nth-child(even){
    font-weight: bold;

}
/* Infos Home */
#infos-home{
    margin-top: 20px;
}
#infos-home h3{
    font-size: 1.3em;
    margin-bottom: 1em;
}
#infos-home li{
    margin: 10px 0;
}

b{
    font-weight: 600;
}

hr {
    border: none;
    border-bottom: 1px solid #d7d8d9;
}

.content a, .content a:visited{
    color: #c72a2a;
    text-decoration: none;
}
.content a:hover, .content a:active{
    text-decoration: underline;
}
/* Page de connexion */
body#loginform{
    background: #f2f2f2;
}
.loginform{
    max-width: 400px;
    margin: auto;
    margin-top: 10%;
    padding-top: 53px;
    color: rgb(147, 149, 152);
    background: url(images/logologin.png) no-repeat top center;
}
.loginform h1{
    color: #3a3a3a;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    line-height: 2.5em;
}
.loginform .form{
    margin-bottom: 15px;
    text-align: center;
    background: rgb(249, 249, 249);
    border: 1px solid #DCDCDC;
}
.loginform .form input[type=text],
.loginform .form textarea,
.loginform .form input[type=password]{
    width: 90%;
    color: #383838;
    font-size: 1.6em;
    font-weight: lighter;
    line-height: 1;
    padding: 0.5em 0.7em;
    margin: 0 auto 16px;
    background-color: #fafafa;
    border: 0px;
    border-bottom: 1px solid #DCDCDC;
    border-radius: 0;
    box-shadow: none;
}
.loginform .form input[type=text]:focus,
.loginform .form textarea:focus,
.loginform .form input[type=password]:focus{
    color: #0d0d0d;
}
.loginform .form textarea{
    min-height: 10em;
    margin-top: 5px;
    font-size: 0.9em;
    resize: vertical;
}
.loginform .form input[type=submit]{
    width: 300px;
    padding: 10px 0;
    margin: 20px auto;
    color: #3a3a3a;
    font-size: 1.7em;
    font-weight: lighter;
    text-align: center;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
}
.loginform .form input[type=submit]:hover{
    color: #f1f1f1;
    background-color: #C72a2a;
    cursor: pointer;
}
.loginform .form input[type=submit]:active{
}
.loginform a{
    color: #3a3a3a;
    line-height: 1.3em;
    text-decoration: none;
}
.loginform a:hover{
    text-decoration: underline;
}

code {
    color: rgb(107, 107, 107);
    font-family: monospace;
    font-size: 0.8em;
}

/* Messages */
.message {
    padding: 5px;
    margin: 0 2%;
    text-align: center;
}
.loginmessage {
    padding: 10px;
    margin: 0 0 20px 0;
    text-align: center;
}
.m-info {
    color: rgb(58, 135, 173);
    background-color: rgb(217, 237, 247);
    border-radius: 4px;
}
.m-error { 
    color: rgb(185, 74, 72);
    background-color: rgb(242, 222, 222);
    border-radius: 4px;
}
#messages{
    float: right;
    margin-top: 2.3em;
    margin-right: 2%;
}
#messages .message{
    padding: 5px 20%;
}
.panel-value {
    font-family: monospace;
}
.panel-value-bool {
    font-size: 1.2em;
}

h1, h2, h3, h4, h5{
    font-family: 'Open Sans';
}

/* Forms */
.content label {
    display: block;
}
.content input[type=text],
.content input[type=password],
.content input[type=checkbox] + label,
.content textarea,
.content select {
    margin-bottom: 15px;
    display: block;
}
.content input[type=checkbox] {
    float: left;
}
.content input[type=checkbox] + label {
    margin-left: 26px;
}
.content input[type=checkbox]:disabled + label{
    color: #bbb;
}
.content input[type=text]:disabled,
.content input[type=password]:disabled,
.content input[type=checkbox]:disabled + label,
.content textarea:disabled,
.content select:disabled {
    border: 0px;
    background:  #5a5a5a;
}

.clear {
    clear: both;
}

section form{
    display: inline-block;
    min-width: 50%;
}
section input[type=text], input[type=password], textarea, select {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    font-size: 1.3em;
    line-height: 1.42857;
    color: rgb(85, 85, 85);
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
section input[type=text], input[type=password], input[type=submit], select {
    display: block;
}
section input[type=submit]{
    width: auto;
    margin: 3px auto;
    padding: 7px 20px;
    color: #3a3a3a;
    font-size: 1.4em;
    text-align: center;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
}
section input[type=submit]:hover{
    color: #f1f1f1;
    background-color: #C72a2a;
    cursor: pointer;
}
section input[type=submit]:active{
    border: 1px solid #d42222;
    border-bottom: 3px solid #d42222;
}
section input[type=checkbox] + label {
  color: #5a5a5a;
} 
section input[type=checkbox]:checked + label {
  color: #000;
}
section input[type=checkbox]:disabled{
    background:  #5a5a5a;
}
/* FONTS */

@font-face {
    font-family: 'Open Sans';

    src: url('/static/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    src: url('/static/fonts/OpenSans-Regular-webfont.eot'),
         url('/static/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    src: url('/static/fonts/OpenSans-Italic-webfont.eot'),
         url('/static/fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    src: url('/static/fonts/OpenSans-Bold-webfont.eot'),
         url('/static/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    src: url('/static/fonts/OpenSans-BoldItalic-webfont.eot'),
         url('/static/fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Open Sans';
    src: url('/static/fonts/OpenSans-Light-webfont.eot');
    src: url('/static/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('/static/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('/static/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: lighter;
    font-style: normal;

}
